---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      My name is Ethan Hodges, I'm a full-stack Software Engineer from Twin Falls, Idaho
      <br />
      <br />
      My primary tools of choice include:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>JavaScript</li>
        <li>C++</li>
        <li>GDScript</li>
        <li>Php</li>
        <li>PyTorch</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I love writing, cooking, reading, and playing games with friends. I am always exploring new skills and am currently learning digital art and music.
    </p>
  </div>
</Card>
