<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Built by{' '}
      <a
        href="https://github.com/Hodges5252"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        Ethan Hodges
      </a>
      using an Astro theme and Tailwind CSS. The
      source code is available on{' '}
      <a
        href="https://astro.build/themes/details/minimal-and-bento-portfolio/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        astro.build.
      </a>
    </p>
  </div>
</footer>
